{% extends '../shared/base.html' %}
{% block content %}
<div class="main">
  <div class="dog-registration">
    <form id="new_dog" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label>dogname</label>
        {{ form.dogname }}
      </div>
      <div class="form-group">
        <label>age</label>
        {{ form.age }}
      </div>
      <div class="form-group">
        <label>sex</label>
        {{ form.sex }}
      </div>
      <div class="form-group">
        <label>introduction</label>
        {{ form.introduction }}
      </div>
      <div class="form-group">
        <label>image</label>
        {{ form.image }}
      </div>
      <button type="submit">Registration</button>
    </form>
  </div>
</div>
{% endblock content %}
