
.headLine {
  background-color: #fafafa;
  position: relative;
  display: inline-block;
  margin: 1em 0;
  font-size: 16px;
}
.headLine:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #00FFFF;
  border-radius: 2px;
}

.like-wrap{
  width: 100%;
}
.like-box{
  padding: 20px 30px;
  margin: 20px 0;
  background-color: rgba(240, 240, 240,0.4);
}
.like-box-nav{
  display: flex;
  margin-bottom: 5px;
}
.like-text{
  background-color: #fafafa;
  text-align: left;
  width: 100%;
  padding: 20px;
}
