.headLine{
  background-color: #fafafa;
}

.like-wrap{
  width: 100%;
}
.like-box{
  padding: 20px 50px;
  width: 90%;
  margin: 20px 0;
  background-color: rgba(240, 240, 240,0.4);
}
.like-box-nav{
  display: flex;
  margin-bottom: 5px;
}
.like-image{}
.like-text{
  background-color: #fafafa;
  text-align: left;
  width: 100%;
  padding: 20px;
}
