/* header */
.toppage-header{
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .8);
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: calc(100% - 100px);
  padding: 0 50px;
}

.toppage-logo{
  background-image: url("/static/images/newlogo.png");
  background-size: cover;
  height: 80px;
  width: 300px;
}

/* topimage */
.toppage-back-ground-image-wrap{
  height: 650px;
  display: flex;
  padding: 0 50px;
  margin-top: 100px;
}

.toppage-introduction-box{
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
  width: 30%;
}

.toppage-introduction{
  margin: 50px 0;
  height: 70%;
}
.login-link {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 100px;
  transition: .4s;
  font-size: larger;
}

.login-link:hover {
  background: #67c5ff;
  color: white;
}

.toppage-back-ground-image{
  background-image: url("/static/images/top-image.jpg");
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size: cover;
  width: 70%;
}

/* howToUse */
.toppage-how-to-use-wrap{
  padding: 10px 50px;
}
.toppage-how-to-use-box{
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
.toppage-how-to-use{
  width: 250px;
  margin: 50px 0;
  opacity : 0;
  transform: translateY(20px);
  transition: 2s;
}

.toppage-how-to-use-photo{
  width: 100%;
  height: 250px;
}

.toppage-how-to-use-text{
  background-color: #ffffff;
  height: 200px;
}

.how-to-use-headline{
  color: #00ECFF;
  font-size: 16px;
}

.how-to-use-no{
  background-color: #00ECFF;
  color: #ffffff;
  width: 30px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
}

/* userlist */
.toppage-user-wrap{
  padding: 0 50px;
}

.toppage-user-head{
  background-color: #ffffff;
  text-align: center;
  padding-top: 30px;
}

.toppage-users{
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 30px 100px 0;
}

.toppage-user-link{
  text-decoration: none;
  color: #000000;
}

.toppage-user {
  transition: all 0.6s ease 0s;
}
.toppage-user:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

.toppage-user-photo{
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.dog-edit-wrap{
  display: flex;
  justify-content: space-around;
}

.toppage-user-explanation{
  width: 150px;
  height: 50px;
  margin-top: 5px;
}

.toppage-link-box{
  background-color: #ffffff;
  padding: 20px 50px 30px;
  text-align: right;
}

.toppage-top-footer{
  background-image: url("/static/images/footer.png");
  background-size: contain;
  height: 50px;
}

.top-login-wrap{
  display: flex;
  text-align: center;
  width: 70vw;
  margin: 100px auto 20px;
}

.top-login-left{
  width: 20%;
  min-height: calc(100vh - 170px);
  margin-right: 10px;
}

.top-login-left__dog-box{
  background-color: #ffffff;
  margin-bottom: 10px;
}

.top-login-left__nav-head{
  text-align: left;
  padding-left: 20px;
  color: #dedcdc;
}

.top-login-left__nav-box{
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px 0;
}

.top-login__nav-link{
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 5px;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.top-login__nav-link:hover {
  background-color: rgba(240, 240, 240,0.6);
}

.top-login-right{
  width: 80%;
  min-height: calc(100vh - 170px);
  background-color: #ffffff;
}

.top-login-users{
  background-color: #ffffff;
  padding: 30px 15px;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
}

.top-login-user {
  transition: all 0.6s ease 0s;
  margin: 20px;
}

.top-login-user:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}