.toppage-header{
  background-color: #ffffff;
  height: 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .8);
  margin-bottom: 20px;
}
.toppage-back-ground-image-wrap{
  height: 650px;
  display: flex;
  padding: 0 50px;
}
.toppage-introduction-box{
  background-color: yellow;
  width: 30%;
}
.toppage-back-ground-image{
  background-image: url("/static/images/top-image.jpg");
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size: cover;
  width: 70%;
}
.toppage-how-to-use-wrap{
  background-color: purple;
  height: 500px;
  padding: 0 50px;
}
.toppage-how-to-use-box{
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 80%;
  margin: 0;
}
.toppage-how-to-use{
  background-color: white;
}
.toppage-user-wrap{
  background-color: coral;
  height: 500px;
  padding: 0 50px;
}
.toppage-top-footer{
  background-color: black;
  color: white;
}