body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
}

.header-upper-box{
  height: 55%;
  padding: 0 20px;
}

.logo{
  background-image: url("/static/images/logo.58a98f0b93d9.png");
  background-size: contain;
  height: 50px;
  width: 180px;
}

.header-under-box{
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  height: 45%;
  background-color: #616161;
	background-size: 10px 10px;
	background-position: 0 0, 5px 5px;
	background-image:
	 linear-gradient(45deg,  #424242 25%, #424242 25%, transparent 25%,
	  transparent 75%, #424242 75%, #424242 75%),
	 linear-gradient(-135deg, #424242 25%, #424242 25%, transparent 25%,
	  transparent 75%, #424242 75%, #424242 75%);
}

.header-under-right-box{
  padding: 0 20px;
  align-self: center;
}

.header-link{
  text-decoration: none;
  color: #ffffff;
  margin: 0 20px;
}

.wrap{
  margin-top: 100px;
  height: calc(100vh - 120px);
  position: relative;
  overflow: scroll;
}

.main{
  background-color: #ffffff;
  margin: 0 auto;
  width: 500px;
  height: 100%;
  text-align: center;
}

.uploadImg{
  padding-top: 200px;
}

.uploadNote{
  padding-top: 50px;
  font-size: larger;
}

form{
  height: 70%;
  padding-bottom: 100px;
}

.wrapPreview{
  display: flex;
  justify-content: space-around;
  height: 60%;
  margin-top: 80px;
}

label{
  display: none;
}

.is-img{
  height: 200px;
  width: 200px;
}

.is-active{
  width: 40%;
}

.fusionBtn{
  height: 50px;
  width: 80px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #00FFFF;
}

.footer{
  height: 20px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: black;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}