{% extends './toppage.html' %}
{% block index %}

<div class="headLine">
  {{headLine}}
</div>
<div class="top-login-users">
  {% for dog in dogs %}
  <a href="{% url 'dogshow' pk=dog.id %}" class="toppage-user-link">
    <div class="top-login-user">
      <img class="toppage-user-photo" src="{{ dog.image.url }}">
      <div class="toppage-user-explanation">
        <div class="" style="text-align: center;">なまえ：{{ dog.dogname }}</div>
        <div class="" style="display: flex; justify-content: space-around;">
          <div class="">{{ dog.sex }}</div>
          <div class="">{{ dog.age }}さい</div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock index %}