{% extends './toppage.html' %}
{% block index %}

<div class="headLine">
  {{headLine}}
</div>
<div class="top-login-users">
  {% for obj in objs %}
  <a href="{% url 'dogshow' pk=obj.id %}" class="toppage-user-link">
    <div class="top-login-user">
      <img class="toppage-user-photo" src="{{ obj.image.url }}">
      <div class="toppage-user-explanation">
        <div class="" style="text-align: center;">なまえ：{{ obj.dogname }}</div>
        <div class="" style="display: flex; justify-content: space-around;">
          <div class="">{{ obj.sex }}</div>
          <div class="">{{ obj.age }}さい</div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% include "../shared/pagination.html" %}

{% endblock index %}