{% extends './toppage.html' %}
{% block index %}

<div class="headLine">
  {{headLine}}
</div>
<div class="top-login-users">
  <div class="like-wrap">
    {% for like in likes %}
    <!-- 部分テンプレート化が必要 -->
    <div class="like-box">
      <div class="like-box-nav">
        <img class="like-image" src="{{ like.dog.image.url }}">
        <div class="like-text">
          {{like.dog.user.username}}さん<br>
          なまえ：{{like.dog.dogname}}<br>
          {{like.dog.age}}さい<br>
          性別：{{like.dog.sex}}<br>
          紹介文：{{like.dog.introduction}}<br>
        </div>
      </div>
      {% block like %}
      <!-- like -->
      {% endblock %}
    </div>
    {% endfor %}
  </div>
</div>


{% endblock index %}