{% extends './toppage.html' %}
{% block index %}

<div class="">
  {{headLine}}
</div>
<div class="top-login-users">
  <div class="like-wrap">
    {% for dog in dogs %}
    <div class="like-box">
      <div class="like-box-nav">
        <img class="like-image" src="{{ dog.user.dog.image.url }}">
        <div class="like-text">
          {{dog.user.username}}さん
          なまえ：{{dog.user.dog.dogname}}
          {{dog.user.dog.age}}さい
          性別：{{dog.user.dog.sex}}
          紹介文：{{dog.user.dog.introduction}}
        </div>
        <a href="{% url 'like' pk=dog.user_id %}" class="dog-show-link">いいねありがとうボタン</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock index %}