{% extends './like.html' %}
{% block like %}
<a href="{% url 'dogshow' pk=obj.user.dog.id %}" class="toppage-user-link">
  <div class="like-box-nav">
    <img class="like-image" src="{{ obj.user.dog.image.url }}">
    <div class="like-text">
      {{obj.user.username}}さん<br>
      なまえ：{{obj.user.dog.dogname}}<br>
      {{obj.user.dog.age}}さい<br>
      性別：{{obj.user.dog.sex}}<br>
      紹介文：{{obj.user.dog.introduction}}<br>
    </div>
  </div>
</a>
<a href="{% url 'like' pk=obj.user.dog.id %}" class="dog-show-link">いいねありがとうボタン</a>

{% endblock like %}