{% extends './toppage.html' %}
{% block index %}

<div class="headLine">
  {{headLine}}
</div>
<div class="top-login-users">
  <div class="like-wrap">
    {% for dog in dogs %}
    <div class="like-box">
      <div class="like-box-nav">
        <img class="like-image" src="{{ dog.user.dog.image.url }}">
        <div class="like-text">
          {{dog.user.username}}さん<br>
          なまえ：{{dog.user.dog.dogname}}<br>
          {{dog.user.dog.age}}さい<br>
          性別：{{dog.user.dog.sex}}<br>
          紹介文：{{dog.user.dog.introduction}}<br>
        </div>
      </div>
      <a href="{% url 'like' pk=dog.user_id %}" class="dog-show-link">いいねありがとうボタン</a>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock index %}