{% extends '../shared/base.html' %}
{% block content %}
<div class="main">
  <div class="uploadImg">
    <td><img src="../media/{{obj.photo}}" width="200" height="200" /></td>
    <td>　</td>
    <td><img src="../media/{{obj.photo_two}}" width="200" height="200" /></td>
  </div>
  <div class="uploadImg">
    <td><img src="../media/mosaics/output{{obj.id}}.jpg" width="200" height="200" /></td>
    <td>　</td>
    <td><img src="../media/mosaics/output_two{{obj.id}}.jpg" width="200" height="200" /></td>
  </div>
  <div class="kari">(仮)保存btn
  </div>
  <div class="main">(仮)保存しないbtn
  </div>
</div>
{% endblock content %}