{% extends '../shared/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="top-login-wrap">
  <div class="top-login-left">
    <div class="top-login-left__dog-box">
      <div class="">
        {{user.username}}さん
      </div>
      {% if dog_flg == 0 %}
      <a href="{% url 'dog' %}" class="">
        <i class="fas fa-paw"></i>
        犬を登録してください
      </a>
      {% else %}
      <img class="toppage-user-photo" src="{{ user.dog.image.url }}" style="height: 100px; width: 100px;">
      <div class="" style="text-align: center;">なまえ：{{ user.dog.dogname }}</div>
      <div class="" style="display: flex; justify-content: space-around;">
        <div class="">{{ user.dog.sex }}</div>
        <div class="">{{ user.dog.age }}さい</div>
      </div>
      <div class="">
        <a href="{% url 'update' pk=user.dog.id %}" class="">
          <i class="fas fa-edit"></i>編集する
        </a>
      </div>
      <div class="">
        <a href="{% url 'delete' pk=user.dog.id %}" class="">
          <i class="fas fa-trash-alt"></i>削除する
        </a>
      </div>
      {% endif %}
    </div>
    <div class="top-login-left__like-box">
      <div class="">
        <a href="{% url 'likedOpponent' %}" class="">
          あいてからのいいね！
        </a>
      </div>
      <div class="">
        <a href="{% url 'likedPerson' %}" class="">
          じぶんからのいいね！
        </a>
      </div>
      <div class="">メッセージを表示
        <a href="{% url 'chat:message' %}" class="">
          <i class="fas fa-comments"></i>
          Message
        </a>
      </div>
    </div>
  </div>
  <div class="top-login-right">
    {% block index %}
    <!-- content -->
    {% endblock %}
  </div>
</div>
{% else %}
<div class="toppage-back-ground-image-wrap">
  <div class="toppage-introduction-box">
    <div class="toppage-introduction">
      D.matchAppはわんちゃんのためのマッチングアプリです。<br>
      子犬は両親の血統によって様々な容姿の子が生まれます。<br>
      マッチング前にイメージを確認してわんちゃんに理想のお相手を見つけてあげましょう。
    </div>
    <a class="login-link" href="{% url 'login' %}">ログインする</a>
  </div>
  <div class="toppage-back-ground-image"></div>
</div>
<div class="toppage-how-to-use-wrap">
  <ul class="toppage-how-to-use-box">
    <li class="toppage-how-to-use">
      <img class="toppage-how-to-use-photo" src="/static/images/howto1.jpg">
      <div class="toppage-how-to-use-text">
        <p class="how-to-use-headline">
          <span class="how-to-use-no">1</span>
          理想の相手を探しましょう</p>
        <p class="how-to-use-text">わんちゃんに理想のお相手を探してあげましょう。</p>
      </div>
    </li>
    <li class="toppage-how-to-use">
      <img class="toppage-how-to-use-photo" src="/static/images/howto1.jpg">
      <div class="toppage-how-to-use-text">
        <p class="how-to-use-headline">
          <span class="how-to-use-no">2</span>
          子犬の容姿をみてみましょう</p>
        <p class="how-to-use-text">わんちゃんの写真を元に子犬のイメージを作成します。</p>
      </div>
    </li>
    <li class="toppage-how-to-use">
      <img class="toppage-how-to-use-photo" src="/static/images/howto2.jpg">
      <div class="toppage-how-to-use-text">
        <p class="how-to-use-headline">
          <span class="how-to-use-no">3</span>
          気に入ったお相手にいいねを送りましょう</p>
        <p class="how-to-use-text">気になるお相手を見つけたら「いいね」を送りましょう。</p>
      </div>
    </li>
    <li class="toppage-how-to-use">
      <img class="toppage-how-to-use-photo" src="/static/images/howto3.jpg">
      <div class="toppage-how-to-use-text">
        <p class="how-to-use-headline">
          <span class="how-to-use-no">4</span>
          マッチングしたらメッセージを送りましょう</p>
        <p class="how-to-use-text">お互いがいいねを押したらメッセージの交換ができる様になります。</p>
      </div>
    </li>
  </ul>
</div>
<div class="toppage-user-wrap">
  <div class="toppage-user-head">新着のお相手</div>
  <div class="toppage-users">
    {% for obj in objs %}
    <a href="{% url 'dogshow' pk=obj.id %}" class="toppage-user-link">
      <div class="toppage-user">
        <img class="toppage-user-photo" src="{{ obj.image.url }}">
        <div class="toppage-user-explanation">
          <div class="" style="text-align: center;">なまえ：{{ obj.dogname }}</div>
          <div class="" style="display: flex; justify-content: space-around;">
            <div class="">{{ obj.sex }}</div>
            <div class="">{{ obj.age }}さい</div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="toppage-link-box">
    <a class="login-link" href="#" style="height: 30px; margin-top: 15px;">(仮)もっと見る＞＞</a>
  </div>
</div>
{% endif %}

{% endblock content %}