.dog-wrap{
  width: 500px;
  margin: 130px auto 140px;
  display: flex;
  background-color: #ffffff;
  padding: 10px;
}

.dog-details-box{
  width: calc(100% - 300px);
  margin-right: 10px;
}

.dog-show-like-box{
  background-color: rgba(240,240,240,0.5);
  margin-bottom: 10px;
  height: 30px;
  padding: 15px;
  line-height: 30px;
}

.dog-details{
  background-color: rgba(240,240,240,0.5);
  min-height: 350px;
  padding: 15px;
}

.dog-show-right{
  text-align: center;
}

.picture-frame{
  height: 300px;
  width: 300px;
  background-color: rgba(128,128,128,0.5);
  position: relative;
  margin-bottom: 30px;
}

.dog-show-image{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 280px;
  width: 280px;
}

.dog-show-link {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #FF773E;
  border: solid 2px #FF773E;
  border-radius: 100px;
  transition: .4s;
  font-size: larger;
}

.dog-show-link:hover {
  background: #FF773E;
  color: white;
}