body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

/* 会員登録用 */
.memberWrap{
  height: calc(100vh - 50px);
  width: 500px;
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 50px;
}

.memberSabLogo{
  background-image: url("/static/images/chatlogo.png");
  background-size: contain;
  height: 130px;
  width: 130px;
  margin: 0 auto;
}

.memberLogo{
  background-image: url("/static/images/logo.png");
  background-size: contain;
  height: 50px;
  width: 180px;
  margin: 0 auto;
}

.formMemberGroup{
  padding: 10px 0;
}

.memberLabel{
  display: block;
  text-align: center;
  font-size: 18px;
}

#id_username{
  margin: 0 auto;
  display: block;
  height: 30px;
  width: 40%;
}
#id_password1{
  margin: 0 auto;
  display: block;
  height: 30px;
  width: 40%;
}
#id_password2{
  margin: 0 auto;
  display: block;
  height: 30px;
  width: 40%;
}

.memberText{
  text-align: center;
}

.memberbtn{
  margin: 20px auto;
  display: block;
  height: 50px;
  width: 120px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #00FFFF;
}