{% extends '../myhp/toppage.html' %}
{% block index %}
<div class="chatWrap">
  <div class="chatGroup">
    {% for crew in crews %}
    {{crew.chat}}
    <div class="crewLinkBox">
      <a href="{% url 'chat:show' id=crew.id %}" class="crewLink">
        {% for c in crew.users.all %}
        {% if c.id != request.user.id %}
        <img class="toppage-user-photo" src="{{ c.dog.image.url }}" style="height: 60px; width: 60px;">
        <p class="chatUsername">{{c}}</p>
        {% endif %}
        {% endfor %}
      </a>
    </div>
    {% endfor%}
  </div>
  {% block chatMessage %}
  <div class="chatLogoWrap">
    <div class="chatLogo">
    </div>
  </div>
  {% endblock %}
</div>
{% endblock index %}