{% extends '../myhp/toppage.html' %}
{% block index %}
<div class="chatWrap">
  <div class="chatGroup">
    <a href="{% url 'chat:new' %}" class="createGroupLink">
      　 create group
      </a>
    {% for crew in crews %}
    <div class="crewLinkBox">
      <a href="{% url 'chat:show' id=crew.id %}" class="crewLink">
        {{ crew.name }}
      </a>
    </div>
    {% endfor%}
  </div>
  {% block chatMessage %}
  <div class="chatLogoWrap">
    <div class="chatLogo">
    </div>
  </div>
  {% endblock %}
</div>
{% endblock index %}