{% extends '../shared/base.html' %}
{% block content %}
<div class="chatWrap">
  <div class="chatGroup">
  </div>
  <div class="chatMessage">
    <div class="chatMessageMain">
      {% for message in messages %}
      <div class="messageBox">
        <div class="myComment">
          <p class="myCommentText">
          {{ message.text}}
        </p>
        </div>
        <div class="commentUser">
          <i class="fas fa-user-alt"></i>
          {{ message.user.username}}
        </div>
      </div>
      {% endfor%}
    </div>
    <div class="chatMessageForm">
      <form id="new_message" action="" method="POST">
        {% csrf_token %}
        {{ form.text }}
        <button type="submit" class="chatBtn">送信</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}