{% load static %}
<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>facefusion</title>
    </head>
  <body>
    <div class="header">
      <div class="header-upper-box">
        <a href="{% url 'myhp:index' %}">
          <div class="logo"></div>
        </a>
      </div>
      <div class="header-under-box">
        <div class="header-under-left-box"></div>
        <div class="header-under-right-box">
          {% if user.is_authenticated %}
          <a href="{% url 'myhp:index' %}" class="header-link">
            <i class="fas fa-comments"></i>
            チャット画面
          </a>
          <a href="{% url 'dog' %}" class="header-link">
            <i class="fas fa-paw"></i>
            犬を登録
          </a>
          <a href="{% url 'show' %}" class="header-link">
            <i class="fas fa-user-circle"></i>
            マイページ
          </a>
          <a href="{% url 'logout' %}" class="header-link">
            <i class="fas fa-sign-out-alt"></i>
            ログアウト
          </a>
          {% else %}
          <a href="{% url 'login' %}" class="header-link">
            <i class="fas fa-sign-in-alt"></i>
            ログイン
          </a>
          <a href="{% url 'create' %}" class="header-link">
            <i class="fas fa-users"></i>
            新規会員登録
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="wrap">
      {% block content %}
        <!-- content -->
      {% endblock %}
    </div>
    <div class="footer">facefusion</div>
  </body>
</html>